
Library/ScriptAssemblies
Library/previews
obj
Temp
*.csproj

*.unityproj
*.pidb

*.sln
*.suo
*.wixobj
BuildOutput
Installer\Windows\PortalInstaller\bin
Installer\Windows\PortalInstaller\obj

*.wixpdb
Installer/Windows/PortalInstaller/bin/
Installer/Windows/ZigFuBundle/ZigFuDevBundle.exe
Installer/Windows/PortalInstaller/SetupWithPrereqs/bin