<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="BaseOutputDir">
            <Directory Id="dirB5DD0447C6427E47E9B127E5A4EBACEA" Name="Portal">
                <Directory Id="dir7DA5B577B7FA1BE594C97C986E3BD939" Name="bin">
                    <Component Id="cmpADA6B143429448B0FB50ADE1D0B146B7" Guid="{9ED7C660-DE01-46E2-8805-658299B14E3C}">
                        <File Id="filBD9B4E5B5CCCE813F63CF9E680E735C4" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal.exe" />
                    </Component>
                    <Directory Id="dir8478C0AE829FD1E962A6D913BF3574DC" Name="Portal_Data">
                        <Component Id="cmp16329181DA93C44EFAB1A7259C1C56B3" Guid="{41F9F4D1-3BFC-467E-B02D-C5E6C77121EB}">
                            <File Id="filE1023400D916D4B3C434AF91BCFB65AE" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\mainData" />
                        </Component>
                        <Component Id="cmp0F92E62A310E39B6EDB7D1036368FFF9" Guid="{89DC55E8-2DC1-409E-8FC4-78CF6152A692}">
                            <File Id="filA15E248B89F068EA32DC5CCC90077F81" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\sharedassets0.assets" />
                        </Component>
                        <Directory Id="dir4C59B130A9929D5C6D84E84E9EA1F53F" Name="Managed">
                            <Component Id="cmpAD6DA3482BB4CCC01A1C511D11759008" Guid="{0C41A367-31D4-4EEF-A02F-93F25E59C22F}">
                                <File Id="fil9DA2D134DA469E020007E9453D66C452" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Managed\Assembly-CSharp.dll" />
                            </Component>
                            <Component Id="cmp95923627AEDC9899B9A3CA691A905C82" Guid="{B26DE176-2C9A-4290-AFD1-053CCAC5161B}">
                                <File Id="fil23C2EA2C5840A37F7F9A58078DAE46B9" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Managed\Assembly-UnityScript-firstpass.dll" />
                            </Component>
                            <Component Id="cmpF42264289D96DE09C10F7ABA34F077A5" Guid="{E8F4339F-E29C-48F8-B267-20E596DF2E41}">
                                <File Id="fil11A224DB1A8F61659CC964A28D91CCE7" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Managed\I18N.CJK.dll" />
                            </Component>
                            <Component Id="cmp8BCA8046AD1BBD271BFE06367DBA2828" Guid="{8CCF2B0D-C26F-443D-BE0F-69D0A6A0E050}">
                                <File Id="filA435B1BC05C32C97D7F93ACB6AFA40DA" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Managed\I18N.dll" />
                            </Component>
                            <Component Id="cmpB90FD49A4318B63D23F192F1CBD69F2D" Guid="{861F31E1-70BE-4D3F-81C6-5597E26312CF}">
                                <File Id="fil24E28C5D375DE0BAA325A89EC16E60CA" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Managed\I18N.MidEast.dll" />
                            </Component>
                            <Component Id="cmp925CE979205395B20BD8E942FFDA9B32" Guid="{CA60487E-B0CF-4A9B-B941-77DABD2FC59A}">
                                <File Id="filDC52E369F32254B9A8EDEA2AB30F2957" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Managed\I18N.Other.dll" />
                            </Component>
                            <Component Id="cmp4CF58F3CFC8A26153584A44BDCC70B24" Guid="{BBB9E5D0-34D3-4DDD-8177-A13D645385FD}">
                                <File Id="fil3D68EB4AD09EA7C457A218BC6F79B630" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Managed\I18N.Rare.dll" />
                            </Component>
                            <Component Id="cmp1FFF6419D28424C896A862FADDCDBC81" Guid="{81100E86-4EBC-4173-A0F4-81225285B198}">
                                <File Id="fil6AF6E1F1BC37470B72F934F1BE80A873" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Managed\I18N.West.dll" />
                            </Component>
                            <Component Id="cmpED85F91D04E32521969140620F09983E" Guid="{6745DFDB-2FD6-433B-BD59-0CAF9CAE72DA}">
                                <File Id="fil99986AEFC0C7689413EBC45F5AF67C0D" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Managed\Ionic.Zip.dll" />
                            </Component>
                            <Component Id="cmpD71CA77590AFE05B47C072C217E1D344" Guid="{75B342C5-02AD-4504-93E3-6812E230CEFF}">
                                <File Id="fil1477A1B8728199D22A44C03CD0D3D217" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Managed\LoaderLib2.dll" />
                            </Component>
                            <Component Id="cmp3225C93AB41D0E29212A1EC0A1601C9E" Guid="{12F826C7-ECD3-4F8E-AC56-5181D201DFF7}">
                                <File Id="filD6BDF1E9CE715E0FAE7E379CB50E7354" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Managed\Mono.Security.dll" />
                            </Component>
                            <Component Id="cmpBFFE88F7D43DCDCF6E2D459774256E78" Guid="{9CBDDE90-AF01-4673-B52A-460E4876326A}">
                                <File Id="fil2231D3031DB85473EC2B7CC40DBA1542" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Managed\mscorlib.dll" />
                            </Component>
                            <Component Id="cmpC618210504ED7E365619F93587EE0E4D" Guid="{0D148C6E-C8C0-4200-91E3-1324BA32CA27}">
                                <File Id="filF74C66622F153BB337FF86CEA2E92990" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Managed\OpenNI.Net.dll" />
                            </Component>
                            <Component Id="cmpE4E4AAC179F982CD6E6B4FAA29655534" Guid="{B4641706-A8AF-4E1C-8042-7FA7785C2C22}">
                                <File Id="filD47C221F54BE364DE500E7E34F7E04A6" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Managed\System.Configuration.dll" />
                            </Component>
                            <Component Id="cmp9C1D3D3482B20A100C4A988801ED225F" Guid="{5935AEBB-AB66-486F-8D5F-346B18C9A3DD}">
                                <File Id="fil1A59CF111404A98BB0552A4EF1C31B3F" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Managed\System.dll" />
                            </Component>
                            <Component Id="cmp82A386FDD5FC208B3120EBE72FAB755E" Guid="{4D311543-5232-4490-BD0A-5B4D92459F27}">
                                <File Id="fil1B8CFA37FAFFF2470BF840F61468E4D3" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Managed\System.Security.dll" />
                            </Component>
                            <Component Id="cmpDCF94562D60FFCE8E6190C265C823B0D" Guid="{C301BD20-C018-4FBE-B8A3-387DE14795E2}">
                                <File Id="filC11E9A88EF2ACC37C3F78195EBBD2AC6" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Managed\System.Xml.dll" />
                            </Component>
                            <Component Id="cmp5C2CE1ADF62C2F5AE9F46B860C2C7841" Guid="{1D990019-35BB-4032-87E0-A3F32690FE2D}">
                                <File Id="filE6A2ADBEEF1EADDB0B75E074A0B21DB4" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Managed\UnityEngine.dll" />
                            </Component>
                            <Component Id="cmpB1CAD5B00D6104713C8D33046EECFE93" Guid="{0917C4D0-B5F2-4BD5-9305-CE4D25B40186}">
                                <File Id="filB47A212715E214B78493DFC59D5F1080" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Managed\UnityEngine.dll.mdb" />
                            </Component>
                            <Component Id="cmp691592980A45B7DEF1193CF06B388C52" Guid="{43A85A16-5AAA-4109-83E1-89D054A3262A}">
                                <File Id="fil5BE72F2C1D6C88AC58C009CAFDD1F94B" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Managed\ZigLib.dll" />
                            </Component>
                        </Directory>
                        <Directory Id="dirC7DFB99E9211F41579E4F1F7524CFFC3" Name="Mono">
                            <Component Id="cmp4DA67594FD4DD71C659604F3FD191B6B" Guid="{32312E6A-18A1-47B9-8B36-EA3F0439BBAC}">
                                <File Id="fil263DCCF0DDB6A893F8C89C49438416FC" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Mono\mono.dll" />
                            </Component>
                            <Directory Id="dir3FE98D02E485DC4FC8305C7C8F0F3AA1" Name="etc">
                                <Directory Id="dir6B09D4342FE2A1B32343408BF5F18870" Name="mono">
                                    <Component Id="cmp58C50CC7A8B35F4647860DB3D9DD7D4D" Guid="{CBBD48C8-6872-4BCE-8081-B8FCC6A26C69}">
                                        <File Id="fil4F3162A7A1A23DDC24355B8004A8930B" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Mono\etc\mono\browscap.ini" />
                                    </Component>
                                    <Component Id="cmpFB6FBDBD34E58C8C2CF35A0F975540A1" Guid="{F3271CCD-4FE3-4D9D-A2F4-3F2AA00736EC}">
                                        <File Id="fil77C0B2873E89BC3338CD1F2E5A8CB15A" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Mono\etc\mono\config" />
                                    </Component>
                                    <Directory Id="dirB84C8090B3F71AAF7667E6A2B872AE04" Name="1.0">
                                        <Component Id="cmpB25220AFE9991CF4E0BBD4DF350D5B43" Guid="{6B87895A-83F2-4C47-A163-D6997A9EC4AC}">
                                            <File Id="fil81FF7879E2F9136B257FC265DAC68FC5" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Mono\etc\mono\1.0\DefaultWsdlHelpGenerator.aspx" />
                                        </Component>
                                        <Component Id="cmpD6754FC69B07A6A940969C1F8CB30532" Guid="{442FDC87-BBF6-42A5-9A34-EA440E1E8F53}">
                                            <File Id="fil967E8EBBCBEECC571993A2E3BCA6D359" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Mono\etc\mono\1.0\machine.config" />
                                        </Component>
                                    </Directory>
                                    <Directory Id="dir8CDFDA25D8BBD1D176289D540A0CBAB4" Name="2.0">
                                        <Component Id="cmp47255CDE77FC403FD31A6C77CDE5C0EE" Guid="{8A4875BE-811F-4F29-A727-413979140D35}">
                                            <File Id="fil07F87DDF51DE3FCFDBB8FCB9C870EE92" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Mono\etc\mono\2.0\DefaultWsdlHelpGenerator.aspx" />
                                        </Component>
                                        <Component Id="cmp1C13DC818563B77C562273CE51471EF5" Guid="{6428DABD-5D27-4297-AB0D-120AE03DDC50}">
                                            <File Id="fil50D07CB77CC390696721B66869D02B39" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Mono\etc\mono\2.0\machine.config" />
                                        </Component>
                                        <Component Id="cmp783DD8A2E811D62F2AA2E62FDE51EC77" Guid="{2050F5A0-C862-4C73-877D-E4E60C082752}">
                                            <File Id="filB15C9625D495527B6BDD3FE0E4CBBA24" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Mono\etc\mono\2.0\settings.map" />
                                        </Component>
                                        <Component Id="cmp018A81DCF5816F9FF1AD6913006925B9" Guid="{C1CE782D-66D2-47B3-9594-BB7EF4D157AA}">
                                            <File Id="fil25C7BCA0B227F04A2B5E6D91BE6D0E83" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Mono\etc\mono\2.0\web.config" />
                                        </Component>
                                        <Directory Id="dirAB40ED648109F1FDD34E10193B4E5477" Name="Browsers">
                                            <Component Id="cmpB54D7F7E7927FE0A89F305E213E97012" Guid="{5FC202E8-48A5-4790-ADF0-7F35FFF17B92}">
                                                <File Id="fil8DFE311CCC430ED03C6A1675D60C109E" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Mono\etc\mono\2.0\Browsers\Compat.browser" />
                                            </Component>
                                        </Directory>
                                    </Directory>
                                    <Directory Id="dir1FE974E21BB1C76275932D78BC101339" Name="mconfig">
                                        <Component Id="cmp79594F39D1D5A752E3C6EFFD5D2A8AE2" Guid="{0E3FDF6D-5C9A-4B87-848A-6F1979C69D56}">
                                            <File Id="fil7F2C9CC3C7A4901C310F3D7133135959" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Mono\etc\mono\mconfig\config.xml" />
                                        </Component>
                                    </Directory>
                                </Directory>
                            </Directory>
                        </Directory>
                        <Directory Id="dir1502AC60902E29FD6DB9BE782724CACB" Name="Resources">
                            <Component Id="cmpC6032FEED72BED72A3DC011C0B9CDA62" Guid="{8B2861A0-0654-4821-ADAB-F32EE360E9DF}">
                                <File Id="filE168A8AC247D1B0D47A48498058E6C10" KeyPath="yes" Source="$(var.PortalOut)\bin\Portal_Data\Resources\unity default resources" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="AllFiles">
            <ComponentRef Id="cmpADA6B143429448B0FB50ADE1D0B146B7" />
            <ComponentRef Id="cmp16329181DA93C44EFAB1A7259C1C56B3" />
            <ComponentRef Id="cmp0F92E62A310E39B6EDB7D1036368FFF9" />
            <ComponentRef Id="cmpAD6DA3482BB4CCC01A1C511D11759008" />
            <ComponentRef Id="cmp95923627AEDC9899B9A3CA691A905C82" />
            <ComponentRef Id="cmpF42264289D96DE09C10F7ABA34F077A5" />
            <ComponentRef Id="cmp8BCA8046AD1BBD271BFE06367DBA2828" />
            <ComponentRef Id="cmpB90FD49A4318B63D23F192F1CBD69F2D" />
            <ComponentRef Id="cmp925CE979205395B20BD8E942FFDA9B32" />
            <ComponentRef Id="cmp4CF58F3CFC8A26153584A44BDCC70B24" />
            <ComponentRef Id="cmp1FFF6419D28424C896A862FADDCDBC81" />
            <ComponentRef Id="cmpED85F91D04E32521969140620F09983E" />
            <ComponentRef Id="cmpD71CA77590AFE05B47C072C217E1D344" />
            <ComponentRef Id="cmp3225C93AB41D0E29212A1EC0A1601C9E" />
            <ComponentRef Id="cmpBFFE88F7D43DCDCF6E2D459774256E78" />
            <ComponentRef Id="cmpC618210504ED7E365619F93587EE0E4D" />
            <ComponentRef Id="cmpE4E4AAC179F982CD6E6B4FAA29655534" />
            <ComponentRef Id="cmp9C1D3D3482B20A100C4A988801ED225F" />
            <ComponentRef Id="cmp82A386FDD5FC208B3120EBE72FAB755E" />
            <ComponentRef Id="cmpDCF94562D60FFCE8E6190C265C823B0D" />
            <ComponentRef Id="cmp5C2CE1ADF62C2F5AE9F46B860C2C7841" />
            <ComponentRef Id="cmpB1CAD5B00D6104713C8D33046EECFE93" />
            <ComponentRef Id="cmp691592980A45B7DEF1193CF06B388C52" />
            <ComponentRef Id="cmp4DA67594FD4DD71C659604F3FD191B6B" />
            <ComponentRef Id="cmp58C50CC7A8B35F4647860DB3D9DD7D4D" />
            <ComponentRef Id="cmpFB6FBDBD34E58C8C2CF35A0F975540A1" />
            <ComponentRef Id="cmpB25220AFE9991CF4E0BBD4DF350D5B43" />
            <ComponentRef Id="cmpD6754FC69B07A6A940969C1F8CB30532" />
            <ComponentRef Id="cmp47255CDE77FC403FD31A6C77CDE5C0EE" />
            <ComponentRef Id="cmp1C13DC818563B77C562273CE51471EF5" />
            <ComponentRef Id="cmp783DD8A2E811D62F2AA2E62FDE51EC77" />
            <ComponentRef Id="cmp018A81DCF5816F9FF1AD6913006925B9" />
            <ComponentRef Id="cmpB54D7F7E7927FE0A89F305E213E97012" />
            <ComponentRef Id="cmp79594F39D1D5A752E3C6EFFD5D2A8AE2" />
            <ComponentRef Id="cmpC6032FEED72BED72A3DC011C0B9CDA62" />
        </ComponentGroup>
    </Fragment>
</Wix>