<?xml version="1.0" encoding="UTF-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<Bundle Name="ZigFu OpenNI Dev Bundle" Version="1.0.0.0" Manufacturer="ZigFu" UpgradeCode="DB47C37E-03DC-43D8-B770-C2C9D82CA305" IconSourceFile="icon.ico">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />
		<WixVariable Id="WixStdbaLicenseRtf" Value="License.rtf" />
	    <WixVariable Id="WixStdbaLogo" Value="neonsquare.bmp"/>
		<Chain>
			<MsiPackage Id="OpenNI" SourceFile="openni-win32-1.3.4.3-dev.msi" />
			<MsiPackage SourceFile="nite-win32-1.4.2.4-dev.msi" />
			<MsiPackage SourceFile="sensor-win32-5.0.4.3-redist.msi" />
			<MsiPackage SourceFile="SensorKinect-Win-OpenSource32-5.0.3.4.msi" />
			<ExePackage SourceFile="Refresh_Environment.exe" Name="Refresh_Environment.exe" PerMachine="yes" Permanent="no" Compressed="yes" Cache="no" Vital="no" Protocol="none" />
		</Chain>
</Bundle>
</Wix>